<%- include("partials/externals") %> 
    <link rel="stylesheet" href="/Style/blog.css">
    <title>Blogs</title>

       <%- include("partials/navbar") -%>
       <!--! Search Bar  -->
       <div class="wrap">
           <form action="/search" method="POST" class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?" name="query">
               <button type="submit" class="searchButton" name="search" value="search">
                  <!-- <i class="fa fa-search"></i> -->
                  Search
               </button>
           </form>
     </div> 



     <!-- main -->
     <div class="container container-flex">
        
        <main role="main">

           <article class="article-featured">
              <h2 class="article-title"><%= recentArTitle %></h2>
              <img src="<%= recentArImg %>" alt="recentArtImg" class="article-image">
              <p class="article-info"><%= recentArDate %></p>
              <p class="article-body"><%= recentArBody.slice(0,100) %></p>
              <a href="/blogs/<%= recentArId %>" class="article-read-more">CONTINUE READING</a>
           </article>
           <!-- !for loop 5 to rest -->
           <%smallArr.forEach((element)=>{%> 
           <article class="article-recent">
              <div class="article-recent-main">
                 <h2 class="article-title"><%= element.blogTitle %></h2>
                 <p class="article-body"><%= element.blogBody.slice(1,50) %></p>
                 <a href="/blogs/<%= element._id %>" class="article-read-more">CONTINUE READING</a>
              </div>
              
              <div class="article-recent-secondary">
                 <img src="<%= element.blogImg %>" alt="" class="article-image">
                 <p class="article-info"><%= element.blogDate %></p>
              </div>
            </article>
            <% }) %> 
        </main>
        <!-- main end -->


        <!-- side bar -->
        <aside class="sidebar">
           
           <div class="sidebar-widget">
              <h2 class="widget-title">RECENT POSTS</h2>
              <!-- ! 2 to 4 -->
              <% sideArr.forEach((element)=>{ %> 

              <div class="widget-recent-post">
                 <h3 class="widget-recent-post-title"><a href="/blogs/<%= element._id %>"><%= element.blogTitle %></a></h3>
                 <img src="<%=element.blogImg%>" alt="" class="widget-image">
              </div>

              <% }); %> 
           </div>
           
        </aside>
        <!-- side end -->
     </div>
     

     <%- include("partials/footer") -%>